doctype html 
html(lang='en')
    head 
        block head 
            include head 
    body
        block header

        block content 

        block footer 
            include footer

        block scripts 
            include scripts 