.footer 
    .footer__copyright
        p © 
            span.year
            a(href="#") 
                span.color-theme Sharjah Oxygen Company
            |. All Rights Reserved.

        h4 alternative inline js
        p © #{new Date().getFullYear()}  
            a(href="http://www.sharjahoxygen.com") Sharjah Oxygen Company
            |. All Rights Reserved.